In [12]:
import pandas as pd
import pymysql
import sqlalchemy

In [22]:
engine = sqlalchemy.create_engine('mysql+pymysql://akhil:@localhost:3306/testing')

In [23]:
df = pd.read_sql_table("contacts", engine)

In [24]:
df

,sno,name,phone_num,msg,date,email
0,1,first post,123456789,first post,2018-07-29 11:36:23,firstpost@gmail.com
1,2,mera naam,4434343434,Bhai please send ho jaa database mei,NaT,meraemail@gmail.com
2,3,mera naam,4434343434,Bhai please send ho jaa database mei,2018-07-29 11:44:51,meraemail@gmail.com
3,4,Bithika Pal,dfdf,posting now,2018-07-29 15:46:28,bithikapddal@iitkgp.ac.in
4,5,dfdf,dsffdfs,sd mail send please,2018-07-29 17:19:41,dfdf@df.dfd
5,6,dfdf,dsffdfs,sd mail send please,2018-07-29 17:21:58,dfdf@df.dfd
6,7,dfdf,dsffdfs,sd mail send please,2018-07-29 17:22:33,dfdf@df.dfd